
<script>
	import { fns, AppShell, Navbar, Header, Title, Divider,ShellSection } from '@svelteuidev/core';
  import './styles.css'

	let isDark = false;
	let opened = false;

	function toggleTheme() {
		isDark = !isDark;
	}
	function toggleOpened() {
		opened = !opened;
	}
</script>

<AppShell
fixed
navbarOffsetBreakpoint="sm"
  >
	<Navbar  slot="navbar" hidden={!opened}>

	</Navbar>
  <Header slot="header">
    <div class="p-2">
      <Title order={2}>Work Space</Title>
    </div>
	</Header>


	<slot/>
</AppShell>