<script>
	import { Title} from '@svelteuidev/core';
	import { Container } from '@svelteuidev/core';
	import { Grid } from '@svelteuidev/core';
	import { Badge, Button, Card, Group, Image, Text } from '@svelteuidev/core';
</script>
<Container override={{py: 6}}>
<Title order={4} class="mb-6">Your workspace</Title>
<Grid>
	<Grid.Col span={4} class="h-[26vh]">
		<a href="./project">
			<Card  shadow='sm' padding='lg' class="h-full overflow-hidden hover:shadow-lg transition">
				<Card.Section first padding='lg' class="h-4/5 overflow-hidden object-cover" >
					<Image
						src='https://picsum.photos/500'
						alt='Portugal'
						class="h-full object-cover"
					/>
				</Card.Section>

				<Group class="h-1/5 my-4" position='apart'>
					<Title order={4}>Project1</Title>
				</Group>

			</Card>
		</a>
	</Grid.Col>
	<Grid.Col span={4} class="h-[26vh]">
		<a href="./project">
			<Card  shadow='sm' padding='lg' class="h-full overflow-hidden hover:shadow-lg transition">
				<Card.Section first padding='lg' class="h-4/5 overflow-hidden object-cover" >
					<Image
						src='https://picsum.photos/500'
						alt='Portugal'
						class="h-full object-cover"
					/>
				</Card.Section>

				<Group class="h-1/5 my-4" position='apart'>
					<Title order={4}>Project2</Title>
				</Group>

			</Card>
		</a>
	</Grid.Col>
</Grid>
</Container>
