<script>
  import { Paper,Flex,Container } from '@svelteuidev/core';
  import { Breadcrumbs, IconRenderer,Modal } from '@svelteuidev/core';
  import { Button } from '@svelteuidev/core';
  import { page } from '$app/stores';
  import List from './List.svelte'
  import {dndzone} from 'svelte-dnd-action';
  import {flip} from 'svelte/animate';
	const flipDurationMs = 200;


  let items = {
    items1:[
		{id:1, title: 'Hello'},
		{id:2, title: 'Halo'},
		{id:3, title: 'WOWWWWW'}
	],
  items2:[
		{id:4, title: 'Find Methods'},
		{id:5, title: 'Think'},
		{id:6, title: 'Do'},
		{id:7, title: 'Star'}
	]
  };
  let Boards = [
    {id:0,title:"Backlog"},
    {id:1,title:"Todo",items:items.items1},
    {id:2,title:"In Progress",items:items.items2},
    {id:3,title:"Success"},
    {id:4,title:"Fail"}



  ]

  let modalData = {
    title:"",
    opened:false
  }
  function openModal(title){
      modalData.title = title
      modalData.opened = true
      console.log(modalData)

  }

  function handleSort(e) {
		Boards = e.detail.items;
	}
</script>

<div class="overflow-scroll w-full scrollbar-hide h-full">

  <Breadcrumbs separator="→">
    <Breadcrumbs.Item href="/{$page.params.spaceid}">
      {$page.params.spaceid}
    </Breadcrumbs.Item>
    <Breadcrumbs.Item active={true}>
      Kanban
    </Breadcrumbs.Item>
  </Breadcrumbs>
  <div class="flex min-w-fit gap-4 w-full min-h-fit" use:dndzone={{items:Boards, flipDurationMs ,type:"board",dropTargetStyle:{outline: ''} }} on:consider={handleSort} on:finalize={handleSort}>
    {#each Boards as board(board.id)}
      <span animate:flip={{duration:flipDurationMs}} class="w-[20rem]"  target={"B"+board.id} >
        <List modalHandler={openModal} title={board.title} type="card" bind:items={board.items} />
      </span>
    {/each}
  </div>
</div>
<!--
<Button on:click={()=>console.log(items)} radius="md" ripple>
    Show List
  </Button>
-->