<script>
  import { Paper,Flex,Button } from '@svelteuidev/core';
  import { Text,Title } from '@svelteuidev/core';
  import {dndzone} from 'svelte-dnd-action';
	import {flip} from 'svelte/animate';
	const flipDurationMs = 200;
  export let title = "";
  export let items = [];
	export let type ="";
  export let modalHandler = (title)=>{}
	
	function handleSort(e) {
		items = e.detail.items;
	}

  function addCard(){
    items = [...items,{
      id:Date(),
      title:"Hello"
    }]
  }
</script>

<Paper class="w-full" radius="md" withBorder>
  <Title order={4} weight={'bold'}>{title}</Title>
  <div class="flex flex-col gap-2 py-4 mt-2" use:dndzone={{items, flipDurationMs ,type , dropTargetStyle:{outline: ''}}} on:consider={handleSort} on:finalize={handleSort}>
    {#each items as item(item.id)}
      <div targer={"C"+item.id} animate:flip={{duration:flipDurationMs}}  on:click={()=>modalHandler(item.title)}>
      <div>
        <Paper class="w-full bg-gray-50 shadow-0" withBorder radius="md" >
          <Title order={6} weight={'bold'}>{item.title}</Title>
          <Text size="xs" class="mt-2">Possum</Text>
        </Paper>
        </div>
      </div>
    {/each}
  </div>
  <Button on:click={addCard} class="block text-start w-full" variant="subtle"  radius="md" ripple>
    + Add Card
  </Button>
</Paper>
  