<script>
  import {goto} from '$app/navigation';
  import { page } from '$app/stores';
  import { Button } from '@svelteuidev/core';

  export let data
</script>
<div class="flex gap-6">
<Button ripple on:click={()=>goto($page.url+"/kanban")}>Goto kanban</Button>
<Button ripple on:click={()=>goto("/")}>Back</Button>
</div>

